body {
  font-family: 'Abril Fatface', cursive;
  background-color: antiquewhite;
  font-size: 40px;
  color: #ef8533;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.icon {
  position: absolute;
  bottom: 0;
}

.text {
  width: 80%;
}

.greeting {
  margin-top: 30px;
  margin-bottom: 60px;
}

#date {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 50px;
}
